
body{
    background-color: rgb(255, 255, 255)
}
h1{
    color: orange;
    margin-left: 500px;
    border: 2px;
    padding: 7px;
}

p{
    margin-left: 50px;
    color: orange;
    font-weight: bolder;
}

#submit{
    margin-left: 33px;
    color:rgb(0, 0, 0);
    padding: 5px;
    
}
#submit2{
    color: black;
    padding: 10px;
    border: 5px solid;
    border-top-color: rgb(245, 143, 9);
    border-bottom-color: rgb(253, 0, 68);
    border-left-color: rgb(5, 13, 248);
    border-right-color: rgb(3, 255, 3);
    font-weight: bold;
}
#preferinta{
    margin-left: 33px;
    color:rgb(46, 57, 139);
    padding: 5px;
    font-weight: bold;
    
}
#preferinta:hover{
    background-color: orange;
}

#submit:hover{
    background-color: rgb(219, 198, 39);
    font-weight:bold;
}

#submit2:hover{
    background-color: rgb(30, 191, 240);
    font-weight:bold;
}

input{
    margin-left: 33px;
    height: 2vh;
    justify-content: space-around;
}
onsubmit{
    padding 5px;
}

button.submit{
    color: purple;
    font-weight: bold;
}

ol{
    font-weight: bold;
}

button.submit1{
    color: black;
    padding: 3px;
    font-weight: bolder;
}
button.submit2{
    color:black;
    font-size: 20px;
}

.child > h3{
    color: rgb(230, 18, 92);
}

#ex  .exx{
    color:rgb(30, 191, 240);
}

#ex1 > .exx1{
    color:rgb(30, 191, 240);
}